*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(1, 10, 19) !important;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgb(1, 10, 19);
}

.encabezado{
    background: #111;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.encabezado img{
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 50px;
}

.menu{
    line-height: 70px;
    margin-right: 15px;
}

.menu a{
    border-radius: 15px;
    margin-left: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.carousel-inner img{
    height: 75vh;
    width: 100%;
    object-fit: contain;
}

.carousel-control-prev{
    margin-left: 250px;
}

.carousel-control-next{
    margin-right: 250px;
}

.tarjetita{
    padding: 25px;
    width: 1100px;
    height: auto;
    background: rgb(23, 26, 30);
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    border-radius: 25px;
    border: 1px solid rgb(193, 165, 87);
}

.personaje{
    padding: 10px;
}

.personaje h1{
    text-align: center;
    color: rgb(193, 165, 87);
    font-size: 40px;
    font-weight: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.personaje p{
    color: #e5dbc8;
    font-size: 18px;
}


#btn{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    background: rgb(1, 10, 19);
    color: wheat;
    border: 1px solid rgb(132, 105, 62);
    font-weight: bold;
}

section{
    display: flex;
    width: 1300px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 100px;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    border: 1px rgb(193, 165, 87) solid;
    transition: .5s ease-in-out;
}

section img:hover{
    cursor: pointer;
    width: 350px;
    opacity: 1;
    filter: contrast(120%);
}

.pie{
    border-top:10px solid #343434;
    background: #171717;
    height: 200px;
    display: flex;
}

.pie img{
    height: 50px;
}

.pie a{
    display: flex;
    margin: auto;
}

.contact{
    background: rgb(22, 178, 216);
    color: #000 !important;
}

.contact:hover{
    background: rgb(11, 196, 226);
}

section img:first-child{
    border-radius: 25px 0 0 25px;
}

section img:last-child{
    border-radius: 0 25px 25px 0;
}